@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'lato', sans-serif;
  background-color: #ec4c8a;
}
